<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://auradevplayground-us-east-azurecosmos-core.documents.azure.com:443/" />
    <add key="PrimaryKey" value="M83OED9k5BAQ667KuBcUbN6hzoLqXNRMZjAsnBexZz5lM3589crioLOU3ffCvHNHFf2tGcC2IzcddxQKWoeewg==" />
  </appSettings>
</configuration>